@*@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager*@

<style type="text/css">
    .circle-logo {
        border-radius: 50%;
        margin-left: 18%;
        background-color: #fff;
        height: 110px;
        width: 110px;
        position: relative;
    }

        .circle-logo img {
            margin-top: 8px;
            border-radius: 50%;
        }

    .no-a {
        padding: 0 !important;
        display: inline !important;
    }
</style>

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <div class="circle-logo" style="vertical-align: middle;">
                        <img src="~/images/landing/images.png" alt="" width="95" height="95">
                    </div>
                    <center style="color:white">
                        @*@if (SignInManager.IsSignedIn(User))
                    {
                        <span class="block m-t-xs font-bold">@UserManager.GetUserName(User)</span>
                    }*@
                    </center>
                </div>
                <div class="logo-element">
                    GYM
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Dashboard")">
                <a href="/Dashboard"><i class="fa fa-tachometer"></i><span class="nav-label" data-i18n="nav.dashboard">Dashboard</span></a>
            </li>
            @*<li>
            <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Menu Levels </span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">Third Level <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Second Level Item</a></li>
                <li>
                    <a href="#">Second Level Item</a>
                </li>
                <li>
                    <a href="#">Second Level Item</a>
                </li>
            </ul>
        </li>*@
            @*<li>
            <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Menu Levels 2 </span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">Third Level <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Second Level Item</a></li>
                <li>
                    <a href="#">Second Level Item</a>
                </li>
                <li>
                    <a href="#">Second Level Item</a>
                </li>
            </ul>
        </li>*@

          
            <!--Segurity Inicio-->
            <li class="@Html.IsSelected(area: "Identity")">
                <a href="#" class="toolt" data-toggle="tooltip" title="<h4>Políticas</h4>- Panel de seguridad"><i class="fa fa-shield"></i> <span class="nav-label" data-i18n="nav.administration">Seguridad</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(area: "Account", cssClass: "in")">
                    <li class="@Html.IsSelected(controller:"Account")"> <a href="/Identity/Account/Register">Usuarios</a></li>
                </ul>
            </li>
            <!--Segurity Fin-->
        </ul>
    </div>
</nav>